@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f7f7;
  --foreground: #f7f7f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to right, #83a4d4, #b6fbff);
  color: #333;
  font-family: var(--font-geist-sans), sans-serif;
}
